<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <style>
        .nav-tabs a {
            color: black;
        }
    </style>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container">
    <div class="main">
        <!--导航栏-->
        <ul class="nav nav-tabs" role="tablist">
            <li>
                <a href="/mumbler">文章</a>
            </li>
            <li>
                <a href="/tool">工具</a>
            </li>
            <li>
                <a href="/link">常用网站</a>
            </li>
            <li class="active">
                <a href="/community">论坛</a>
            </li>
            <li>
                <a href="/manage">管理</a>
            </li>
        </ul>
        <!--问题列表-->
        <div class="community-question-list">
            <div th:if="${paginationDTO == null || paginationDTO?.getData().size() == 0}">
                <span class="text-desc">还没有问题被提出来捏</span>
            </div>
            <div th:unless="${paginationDTO == null || paginationDTO?.getData().size() == 0}"
                 th:each="questionDTO:${paginationDTO?.getData()}" class="media">
                <div class="media-left">
                    <a th:href="@{'/community/question/' + ${questionDTO.getId()}}">
                        <img class="media-object img-rounded" th:src="@{${questionDTO.getUser().getAvatarUrl()}}"
                             alt="这里应该有一张用户头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/community/question/' + ${questionDTO.getId()}}" th:text="${questionDTO.getTitle()}"></a>
                    </h4>
                    <br>
                    <span class="text-desc">
                    <span th:text="${questionDTO.getCommentCount()}"></span> 个回复 ·
                    <span th:text="${questionDTO.getViewCount()}"></span> 次浏览 ·
                    <span th:text="${#dates.format(questionDTO.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span>
                </span>
                </div>
            </div>
        </div>
        <!--翻页-->
        <nav th:insert="~{pagination :: pagi}"></nav>
    </div>

</div>


<div th:insert="~{footer :: foot}"></div>
</body>
</html>