<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NPC Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment :: navigation}"></div>
<div class="container">
    <div class="main">
        <div th:insert="~{fragment :: navigation-tabs}"></div>
        <div class="item-list">
            <h5 th:if="${param.search != '' and param.search != null}">
                关于 <span th:text="${param.search}"></span> 的搜索结果如下：
            </h5>
            <div th:if="${(paginationDTO == null || paginationDTO?.getData()?.size() == 0) && !paginationDTO?.showPageNav}">
                <span class="text-desc">还没有（相关）工具被分享/做出来捏</span>
            </div>
            <div th:unless="${paginationDTO == null || paginationDTO?.getData().size() == 0}"
                 th:each="toolDTO:${paginationDTO?.getData()}" class="media">
                <div class="media-left">
                    <a target="_blank" th:href="${toolDTO.getUrl()}">
                        <img class="media-object img-rounded" th:src="@{${toolDTO.getUser().getAvatarUrl()}}"
                             alt="这里应该有一张用户头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:title="${toolDTO.getTitle()}" target="_blank" th:href="${toolDTO.getUrl()}"
                           th:text="${toolDTO.getTitle()}"></a>
                    </h4>
                    <br>
                    <span class="text-desc">
                    <span th:text="${#dates.format(toolDTO.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span>
                </span>
                </div>
            </div>
        </div>
        <!--翻页-->
        <div th:insert="~{fragment :: pagination-buttons}"></div>
    </div>

</div>

<div th:insert="~{fragment :: footer}"></div>
</body>
</html>