<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NPC Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment :: navigation}"></div>
<div class="container">
    <div class="main">
        <div th:insert="~{fragment :: navigation-tabs}"></div>
            <div class="item-list">
                <h5 th:if="${param.search != '' and param.search != null}">
                    关于 <span th:text="${param.search}"></span> 的搜索结果如下：
                </h5>
                <div th:if="${paginationDTO == null || paginationDTO?.getData().size() == 0}">
                    <span class="text-desc">还没做！</span>
                </div>
            </div>
            <!--翻页-->
            <div th:insert="~{fragment :: pagination-buttons}"></div>
        </div>
    </div>

</div>

<div th:insert="~{fragment :: footer}"></div>
</body>
</html>