<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NPC Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/blog.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment :: navigation}"></div>
<div class="container">
    <div class="main">
        <div th:insert="~{fragment :: navigation-tabs}"></div>
        <div class="item-list">
            <div class="list-group left-item">
                <button type="button" class="list-group-item" name="item-btn" onclick="manageItem(0, this)" page="0">文章</button>
                <button type="button" class="list-group-item" name="item-btn" onclick="manageItem(1, this)" page="0">问题</button>
                <button type="button" class="list-group-item" name="item-btn" onclick="manageItem(2, this)" page="0">工具</button>
            </div>
            <div class="right-item">
                <table class="table table-bordered" id="table">

                </table>
            </div>
        </div>
        <!--翻页-->
        <div th:insert="~{fragment :: pagination-buttons}"></div>
    </div>

</div>

<div th:insert="~{fragment :: footer}"></div>
</body>
</html>