<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NPC Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <style>
        .nav-tabs a {
            color: black;
        }
    </style>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container">
    <div class="main">
        <ul class="nav nav-tabs" role="tablist">
            <li th:class="${#httpServletRequest.getRequestURI() == '/mumbler'
             || #httpServletRequest.getRequestURI() == '/'} ? 'active':''">
                <a href="/mumbler">文章</a>
            </li>
            <li th:class="${#httpServletRequest.getRequestURI() == '/tool'} ? 'active':''">
                <a href="/tool">工具</a>
            </li>
            <li th:class="${#httpServletRequest.getRequestURI() == '/link'} ? 'active':''">
                <a href="/link">常用网站</a>
            </li>
            <li th:class="${#httpServletRequest.getRequestURI() == '/community'} ? 'active':''">
                <a href="/community">论坛</a>
            </li>
            <li th:class="${#httpServletRequest.getRequestURI() == '/manage'} ? 'active':''">
                <a href="/manage">管理</a>
            </li>
        </ul>

    </div>

</div>

<div th:insert="~{footer :: foot}"></div>
</body>
</html>