<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NPC Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/blog.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment :: navigation}"></div>
<div class="container">
    <div class="main">
        <div th:insert="~{fragment :: navigation-tabs}"></div>
        <div class="item-list">
            <div class="list-group left-item">
                <button type="button" class="list-group-item" name="item-btn" id="manage-article">文章</button>
                <button type="button" class="list-group-item" name="item-btn" id="manage-question">问题</button>
                <button type="button" class="list-group-item" name="item-btn" id="manage-tool">工具</button>
            </div>
            <div class="right-item">
                <table class="table table-bordered text-nowrap" id="table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>id</th>
                        <th>title</th>
                        <th>tag</th>
                        <th>creator</th>
                        <th>creator ID</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div th:insert="~{fragment :: footer}"></div>
</body>
</html>