<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>最新回复</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/blog.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment :: navigation}"></div>
<div class="container main profile">
    <div class="row">
        <!--左侧边栏-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>最新回复</h2>
            <hr>
            <!--最新回复-->
            <div class="sections-section-list">
                <div th:if="${paginationDTO == null || paginationDTO?.getData().size() == 0}">
                    <span class="text-desc">你还没有收到（相关）回复捏</span>
                </div>
                <!--case 1: 回复问题-->
                <!--case 2: 回复问题评论-->
                <!--case 3: 回复文章-->
                <!--case 4: 回复文章评论-->
                <div class="media" th:each="notification : ${paginationDTO.getData()}"
                     th:id="${'notification-' + notification.getId()}">
                    <div class="media-left">
                        <a th:href="@{'/notification/' + ${notification.getId()}}">
                            <img class="media-object img-rounded"
                                 th:src="${notification.getNotifierUser().getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/notification/' + ${notification.getId()}}">
                                <div class="media-description">
                                        <span class="notifier-name"
                                              th:text="${notification.getNotifierUser().getName()}"></span>
                                    <span th:switch="${notification.getType()}">
                                        <span th:case="1">
                                            <span>回复了我的问题</span>
                                            <span th:text="${notification.getOuter().getTitle()}"></span>
                                        </span>
                                        <span th:case="2">
                                            <span>回复了我的评论</span>
                                            <span></span>
                                        </span>
                                        <span th:case="3">
                                            <span>回复了我的文章</span>
                                            <span th:text="${notification.getOuter().getTitle()}"></span>
                                        </span>
                                        <span th:case="4">
                                            <span>回复了我的评论</span>
                                            <span></span>
                                        </span>
                                        <span th:case="5">
                                            <span>编辑了我的文章</span>
                                            <span th:text="${notification.getOuter().getTitle()}"></span>
                                        </span>
                                        <span th:case="6">
                                            <span>删除了我的文章</span>
                                            <span th:text="${notification.getOuter().getTitle()}"></span>
                                        </span>
                                        <span th:case="7">
                                            <span>编辑了我的问题</span>
                                            <span th:text="${notification.getOuter().getTitle()}"></span>
                                        </span>
                                        <span th:case="8">
                                            <span>删除了我的问题</span>
                                            <span th:text="${notification.getOuter().getTitle()}"></span>
                                        </span>
                                        <span th:case="9">
                                            <span>编辑了我的工具</span>
                                            <span th:text="${notification.getOuter().getTitle()}"></span>
                                        </span>
                                        <span th:case="10">
                                            <span>删除了我的工具</span>
                                            <span th:text="${notification.getOuter().getTitle()}"></span>
                                        </span>
                                    </span>
                                </div>
                            </a>
                            <span class="label label-danger unread" th:if="${notification.status == 0}">未读</span>
                        </h4>
                        <span th:text="${notification?.getComment()?.getContent()}"></span>
                        <br>
                        <span th:switch="${notification.getType()}">
                            <span th:case="1"></span>
                            <span th:case="2">
                                <span class="original-reply"
                                      th:text="${notification.getOuterComment().getContent()}"></span>
                                <br>
                            </span>
                            <span th:case="3"></span>
                            <span th:case="4">
                                <span class="original-reply"
                                      th:text="${notification.getOuterComment().getContent()}"></span>
                                <br>
                            </span>
                            <span th:case="5">
                                <span class="original-reply">
                                    <a th:href="@{'/draft/' + ${notification.getOuterId()}}">
                                        点此查看文章草稿
                                    </a>
                                </span>
                                <br>
                            </span>
                            <span th:case="6">
                                <span class="original-reply">
                                    <a th:href="@{'/draft/' + ${notification.getOuterId()}}">
                                        点此查看文章草稿
                                    </a>
                                </span>
                                <br>
                            </span>
                            <span th:case="7">
                                <span class="original-reply">
                                    <a th:href="@{'/draft/' + ${notification.getOuterId()}}">
                                        点此查看问题草稿
                                    </a>
                                </span>
                                <br>
                            </span>
                            <span th:case="8">
                                <span class="original-reply">
                                    <a th:href="@{'/draft/' + ${notification.getOuterId()}}">
                                        点此查看问题草稿
                                    </a>
                                </span>
                                <br>
                            </span>
                            <span th:case="9">
                                <span class="original-reply">
                                    <a th:href="@{'/draft/' + ${notification.getOuterId()}}">
                                        点此查看工具草稿
                                    </a>
                                </span>
                                <br>
                            </span>
                            <span th:case="10">
                                <span class="original-reply">
                                    <a th:href="@{'/draft/' + ${notification.getOuterId()}}">
                                        点此查看工具草稿
                                    </a>
                                </span>
                                <br>
                            </span>
                        </span>
                        <span class="text-desc">
                            <span th:text="${#dates.format(notification.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span>
                            <span class="glyphicon glyphicon-trash draft-delete-icon" th:data="${notification.getId()}"
                                  onclick="deleteNotification(this)"></span>
                        </span>
                    </div>
                </div>

            </div>
            <!--翻页-->
            <div th:insert="~{fragment :: pagination-buttons}"></div>
        </div>
        <!--右侧边栏-->
        <div th:insert="~{fragment :: profile-list}" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>
</div>
<div th:insert="~{fragment :: footer}"></div>
</body>
</html>