<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的文章</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container main profile">
    <div class="row">
        <!--左侧边栏-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>我的问题</h2>
            <hr>
            <!--问题列表-->
            <div class="sections-section-list">
                <div class="media" th:each="article : ${paginationDTO.getData()}">
                    <div class="media-left">
                        <a th:href="@{'/mumbler/article/'+${article.getId()}}">
                            <img class="media-object img-rounded"
                                 th:src="${article.getUser().getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/mumbler/article/'+${article.getId()}}" th:text="${article.getTitle()}"></a>
                        </h4>
                        <span></span><br>
                        <span class="text-desc"><span th:text="${article.getCommentCount()}"></span> 个回复 · <span
                                th:text="${article.getViewCount()}"></span>次浏览 · <span
                                th:text="${#dates.format(article.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span></span>
                    </div>
                </div>
            </div>
            <!--翻页-->
            <nav aria-label="Page navigation" th:if="${paginationDTO.totalPage > 1}">
                <ul class="pagination">
                    <li th:if="${paginationDTO.showFirstPage} == true" class="page-li">
                        <a th:href="@{/mumbler/(page=1)}" aria-label="First" class="page-li">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showPrevious} == true" class="page-li">
                        <a th:href="@{/mumbler/(page=${paginationDTO.getPage()-1})}" aria-label="Previous"
                           class="page-li">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${paginationDTO.getPages()}"
                        th:class="${paginationDTO.page == page} ? 'active':''">
                        <a th:href="@{/mumbler/(page=${page})}" th:text="${page}" class="page-li"></a>
                    </li>

                    <li th:if="${paginationDTO.showNext} == true">
                        <a th:href="@{/mumbler/(page=${paginationDTO.getPage()+1})}" aria-label="Next" class="page-li">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showEndPage} == true" class="page-li">
                        <a th:href="@{/mumbler/(page=${paginationDTO.getTotalPage()})}" aria-label="End" class="page-li">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--右侧边栏-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${#httpServletRequest.getRequestURI() == '/profile/questions'} ? 'active list-group-item':'list-group-item'">
                    <span class="badge"></span>我的问题
                </a>
                <a th:if="${session.manager == true}" href="/profile/articles"
                   th:class="${#httpServletRequest.getRequestURI() == '/profile/articles'} ? 'active list-group-item':'list-group-item'">
                    <span class="badge"></span>我的文章
                </a>
                <a href="/profile/replies"
                   th:class="${#httpServletRequest.getRequestURI() == '/profile/replies'} ? 'active list-group-item':'list-group-item'">
                    <span class="badge" th:text="${unreadCount}"></span>最新回复
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>