<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>草稿箱</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/blog.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{fragment :: navigation}"></div>
<div class="container main profile">
    <div class="row">
<!--        TODO: 批量删除-->
        <!--左侧边栏-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>草稿箱</h2>
            <hr>
            <!--问题列表-->
            <div class="sections-section-list">
                <div th:if="${(paginationDTO == null || paginationDTO?.getData().size() == 0) && !paginationDTO?.showPageNav}">
                    <span class="text-desc">你还没有（相关）草稿被提出来捏</span>
                </div>
                <div class="media" th:each="draft : ${paginationDTO.getData()}" th:id="'draft-' + ${draft.getId()}">
                    <div class="media-left">
                        <a th:href="@{'/draft/'+${draft.getId()}}">
                            <img class="media-object img-rounded"
                                 th:src="${draft.getUser().getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:unless="${draft.getTitle() == ''}" th:href="@{'/draft/'+${draft.getId()}}" th:text="${draft.getTitle()}"></a>
                            <a th:if="${draft.getTitle() == ''}"
                               th:href="@{'/draft/'+${draft.getId()}}">&lt;还没有标题捏&gt;</a>
                        </h4>
                        <span></span><br>
                        <span class="text-desc">
                            <span th:text="${#dates.format(draft.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span>
                            <span class="glyphicon glyphicon-trash draft-delete-icon" th:data="${draft.getId()}"
                                  onclick="deleteDraft(this)"></span>
                        </span>
                    </div>
                </div>
            </div>
            <!--翻页-->
            <div th:insert="~{fragment :: pagination-buttons}"></div>
        </div>
        <!--右侧边栏-->
        <div th:insert="~{fragment :: profile-list}" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>
</div>
<div th:insert="~{fragment :: footer}"></div>
</body>
</html>