<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .text-desc {
            font-size: 12px;
            font-weight: normal;
            color: #999;
        }
        .text-desc a{
            color: #999;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>NPC-BLOG</h1>
        <p>Hi, </p>
        <p>点击下面的按钮来验证你的邮箱</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">验证电子邮箱</a></p>
        <div class="text-desc">这是一封系统自动生成的邮件，请勿直接回复。</div>
        <div class="text-desc">想知道如何发这种炫酷的邮件吗？看看这篇文章 &rightarrow; <a href="http:blog.zx2624.co/?search=发送邮件">点击跳转</a></div>
    </div>
</div>
</body>
</html>